.darker {
	filter: brightness(0.7);
}

.bg {
	&-center {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
}

.img {
	&-cover {
		object-fit: cover;
		background-size: cover;
		background-position: center center;
	}
}
