.swiper-button-next {
	position: absolute;
	padding: 24px;
	border-radius: 50%;
	background-color: $primary;
	right: 0px;
	top: 50%;
	transform: translateX(50%);
	text-align: center;
}
.swiper-button-next:after {
	color: $white;
	font-size: 14px;
	font-weight: bold;
}
